<div class="content" (click)="onPlanetClicked()">
    <div class="image">
        <img [src]="planet.image" />
        <p>{{planet.name}}</p>
    </div>
    <div class="info">
        <p [ngClass]="!planet.description ? 'empty-description': 'description'">
            {{planet.description ?? 'No description yet. :/'}}
        </p>
        <div class="author" *ngIf="planet.descriptionAuthor">
            <p>by captain </p>
            <p>{{planet.descriptionAuthor}}</p>
        </div>
        <div class="robots" *ngIf="planet.robots">
            <p>Robots: </p>
            <p>{{planet.robots}}</p>
        </div>

    </div>
    <div class="status" *ngIf="getStatusStyle() as statusStyle">
        <p [class]="statusStyle.cssClass">{{statusStyle.text}}</p>
    </div>
</div>