.content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    border: 1px solid #f3f3f3;
    padding-top: 0.5rem;

    .image {
        font-weight: 800;
        font-size: small;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        padding: 0.2rem;
        width: 20%;

        img {
            height: 50px;
            width: 50px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        width: 60%;

        .label {
            font-weight: 600;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            flex-grow: 1;
            font-size: 0.9rem;
        }

        .empty-description {
            display: flex;
            align-items: center;
            margin-top: 0;
            flex-grow: 1;
            font-size: 0.9rem;
        }

        .author,
        .robots {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
            font-size: 0.7rem;

            p {
                margin: 0;
            }
        }

        .robots {
            margin-bottom: 0.5rem;

            .robots-list {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

    }

    .status {
        display: flex;
        flex-direction: row;
        // box-sizing: border-box;
        align-items: center;
        margin-right: 1rem;
        width: 20%;
        align-items: center;
        justify-content: flex-end;

        p {
            background: white;
            margin: 0;
            border: 0;
            font-weight: 800;
            font-size: 0.9rem;
        }

        .status__todo {
            color: #4a8d2c;
        }

        .status__enroute {
            color: #aeb0b0;
        }

        .status__ok {
            color: #3ca50b;
        }

        .status__notok {
            color: #bd6f73;
        }
    }
}