.dialog-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;

        .title {}

        .close {
            float: right;
            width: 1.2rem;
            height: 1.2rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }

    .mat-mdc-dialog-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}