<div class="dialog-container" *ngIf="captains$ | async as captains">
    <div class="header">
        <span class="title">Edit {{planet.name}}</span>
        <img class="close" src="assets/icon-close.svg" (click)="close()" />
    </div>

    <mat-dialog-content>
        <div>
            <form [formGroup]="planetForm">
                <mat-form-field appearance="fill" class="form-input">
                    <mat-label>Description</mat-label>
                    <textarea matInput 
                        cdkTextareaAutosize 
                        cdkAutosizeMinRows="3" 
                        cdkAutosizeMaxRows="10"
                        maxlength="150"
                        [style.fontSize]="'14px'"
                        formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-input">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let state of availableStates" [value]="state">
                            {{ getStateString(state)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-input">
                    <mat-label>Captain</mat-label>
                    <mat-select formControlName="authorId">
                        <mat-option *ngFor="let captain of captains" [value]="captain.id">
                            {{ captain.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="actions">
            <button class="btn btn-light" [disabled]="!planetForm.valid" (click)="onSave()">Save</button>
            <button class="btn btn-light" (click)="close()">Cancel</button>
        </div>
    </mat-dialog-actions>
</div>