.dialog-container {
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 1.3rem;
        }

        .close {
            float: right;
            width: 1.2rem;
            height: 1.2rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .form-input{
        width: 100%;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }

    .mat-mdc-dialog-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .mdc-dialog__content {
        padding: 20px 0px 20px 0px;
    }
}